<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!shipwrecks"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="shipwrecks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Feature</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shipwreck of shipwrecks">
      <td>{{ shipwreck.id }}</td>
      <td>{{ shipwreck.feature }}</td>
      <td>{{ shipwreck.latitude }}</td>
      <td>{{ shipwreck.longitude }}</td>
    </tr>
  </tbody>
</table>
